:root{
    --rosa: #f79d8dff;
    --lysgronn: #94b3a2ff;
    --gronn: #647d73ff;
    --morkgronn: #404f4aff;
    }
    
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    height: 100vh;
}

section {
    display: flex;
    justify-content: center;
    gap: 10px;
}

article {
    width: 900px;
    border: 1px solid black;
    height: 300px;
}

aside {
    width: 300px;
    border: 1px solid black;
    height: 300px;
}
