:root{
    --rosa: #f79d8dff;
    --lysgronn: #94b3a2ff;
    --gronn: #647d73ff;
    --morkgronn: #404f4aff;
    }
    
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: rgb(67, 67, 67);
    font-family: "Raleway", sans-serif;
}

main {
    width: 1190px;
}

h1 {
    font-size: 50px;
}
p {
    line-height: 25px;
}

section {
    display: flex;
    justify-content: center;
    gap: 10px;
}

article {
    width: 900px;
    border: 1px solid black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

aside {
    width: 300px;
    border: 1px solid black;
    padding: 20px;
}

.footerh{
    background-color: var(--gronn);
    height: 400px;
    width: 100%;
    margin-top: 50px;
    display: flex;
    gap: 50px;
    padding: 100px 50px;
}

.footerh h2{
    margin-bottom: 20px;
    font-weight: 550;
    color: black;
    text-transform: none;
}

.footerh a{
    color: white;

}

.footerl{
    background-color: var(--morkgronn);
    height: 200px;
    width: 100%;
    text-align: center;
    padding: 40px;
    color: white;

}

.footerl h3{
    font-size: 6rem;
}