:root{
    --rosa: #f79d8dff;
    --lysgronn: #94b3a2ff;
    --gronn: #647d73ff;
    --morkgronn: #404f4aff;
    }
    
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: rgb(67, 67, 67);
    font-family: "Raleway", sans-serif;
}

/* Header */
nav{
    display: flex;
    background-color: var(--lysgronn);
    height: 100%;
    align-items: center;
    padding: 15px;
    width: 100vw;
}
.left{
    display: flex;
    background-color: var(--lysgronn);
    gap: 20px;
    align-items: center;
}
.right{
    display: flex;
    margin-left: 20px;
    gap: 20px;
    justify-content: space-around;
    background-color: var(--lysgronn);
    flex: 1;
}

input{
    width: 60%;
    padding: 10px;
    outline: none;
    border-radius: 5px;
    border: none;
}

.logo{
    height: 12vh;
    flex: 1;
    
}

header{
    height: 20vh;
}

.navitem{
    padding: 10px;
    display: flex;
    transition: all 0.2s ease-in-out;
}

.navitem:hover, .login:hover{
    background-color: var(--gronn);
    color: white;
    border-radius: 5px;
}


.login{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px;
    transition: all 0.2s ease-in-out;
}

a{
    text-decoration: none;
    color: black;
}
/* Header end */



main {
    width: 1190px;
}

h1 {
    margin: 50px 150px 30px 0px;
    font-size: 4rem;
    color: var(--morkgronn);
}

h2 {
    text-transform: uppercase;
    color: var(--gronn);
}

p {
    line-height: 25px;
    font-size: 19px;
}

section {
    display: flex;
    justify-content: center;
    gap: 10px;
}

article {
    width: 900px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid black;
}

aside {
    width: 300px;
    padding: 20px;
    border: 1px solid black;
}

.seksjon1{
    height: 800px;
}

.oppsum {
    width: 300px;
    background-color: var(--rosa);
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    max-height: 60px;
}

.oppsum h2 {
    margin: 0;
}

.oppsum p {
    margin-top: 10px;
    display: none;
}

.toggle-knapp {
    position: absolute;
    bottom: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #555;
    transition: transform 0.3s ease-in-out;
}


.oppsum.utvid {
    max-height: 650px;
}

.oppsum.utvid p {
    display: block;
}

.oppsum.utvid .toggle-knapp {
    content: "▲";
    transform: rotate(180deg);
}

.forfatter {
    margin-top: 100px;
    margin-bottom: 150px;
}

.forfatter * {
    margin: 10px;
}

.footerh{
    background-color: var(--gronn);
    height: 400px;
    width: 100%;
    margin-top: 50px;
    display: flex;
    gap: 50px;
    padding: 100px 50px;
}

.footerh h2{
    margin-bottom: 20px;
    font-weight: 550;
    color: black;
    text-transform: none;
}

.footerh a{
    color: white;

}

.footerl{
    background-color: var(--lysgronn);
    height: 300px;
    width: 100%;
    text-align: center;
    padding: 40px;
    color: white;

}

.footerl img{
    width: auto;
    height: 250px;
}

/*Artikkel 4*/
#hovedImg {
    height: 450px;
    margin-left: 25px;
    padding-top: 20px;
    width: 750px;
}

#politiker {
    width: 600px;
    height: 340px;
}

#maling {
    width: 750px;
    height: 200px;
}

.bildetekst {
    font-size: 12px;
    width: 750px;

}
/*ARTIKKEL 4 SLUTT*/

/* test spill HTML LIGGER I ARTIKKEL 4 SIN ASIDE */
.spill{
    background-color: #647d73ff;
    padding: 4px;
    text-align: center;
}
.spill img{
    height: 150px;
    width: auto;
}
.spill a{
    text-decoration: none;
    color: white;
}
/* Test spill avslutt*/

/* FINN REKLAME, HTML I ARTIKKEL 4*/
.finnReklame{
    margin-top: 100px;
    border: 1px solid dimgray;
    padding: 8px;
}
/* avslutning finn */

/* SATS REKLAME, HTML I ARTIKKEL 4*/
.satsReklame{
    padding: 8px;
    margin-top: 100px;
    border: 1px solid dimgray;
}

.satsReklame p{
    font-size: 10px;
}
/* SATS REKLAME AVSLUTT*/