@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
    height: auto;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: "Raleway", sans-serif;
    gap: 20px;
    background-color: red;

}



main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12,1fr);
    gap: 20px;
    min-height: 100vh;
    background-color: teal;
    padding: 30px;
}

article {
    grid-column: span 4;
    grid-row: span 3;
}
#en{
    background-color: var(--gronn);
    
}

nav{
    display: flex;
    background-color: aqua;
    height: 100%;
    align-items: center;
    padding: 15px;
    width: 100%;
}
.left{
    display: flex;
    background-color: blue;
}
.right{
    display: flex;
    margin-left: 20px;
    justify-content: space-around;
    
    flex: 1;
}

.logo{
    height: 10vh;
    flex: 1;
}

header{
    height: 15vh;
}

.navitem{
    background-color: rebeccapurple;
    padding: 10px;
    display: flex;
    
}

.login{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
}

article>img{
    height: 100%;
    width: 100%;
}
