@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --rosa: #f79d8dff;
    --lysgronn: #94b3a2ff;
    --gronn: #647d73ff;
    --morkgronn: #404f4aff;
    }


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
    height: auto;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: "Raleway", sans-serif;
}

a{
    text-decoration: none;
    color: black;
}


/* Header */
nav{
    display: flex;
    background-color: var(--lysgronn);
    height: 100%;
    align-items: center;
    padding: 15px;
    width: 100%;
}
.left{
    display: flex;
    background-color: var(--lysgronn);
    gap: 20px;
    align-items: center;
}
.right{
    display: flex;
    margin-left: 20px;
    gap: 20px;
    justify-content: space-around;
    background-color: var(--lysgronn);
    flex: 1;
}

input{
    width: 60%;
    padding: 10px;
    outline: none;
    border-radius: 5px;
    border: none;
}

.logo{
    height: 19vh;
    flex: 1;
    
}

header{
    height: 20vh;
}

.navitem{
    padding: 10px;
    display: flex;
    transition: all 0.2s ease-in-out;
}

.navitem:hover, .login:hover{
    background-color: var(--gronn);
    color: white;
    border-radius: 5px;
}


.login{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px;
    transition: all 0.2s ease-in-out;
}
/* Header end */


/* Main content */

main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12,1fr);
    gap: 20px;
    min-height: 100vh;
    padding: 30px;
}

article {
    grid-column: span 1;
    grid-row: span 1;
    position: relative;
    overflow: hidden; /* Ensure content doesn't overflow */
}
#en{
    background-color: var(--gronn);
    grid-row: span 8;
    grid-column: span 8;
    
}
#to{
    background-color: var(--lysgronn);
    grid-row: span 4;
    grid-column: span 4;
}
#tre{
    background-color: var(--rosa);
    grid-row: span 4;
    grid-column: span 4;
}
#fire{
    background-color: var(--gronn);
    grid-row: span 6;
    grid-column: span 3;
}
#fem{
    background-color: var(--lysgronn);
    grid-row: span 6;
    grid-column: span 3;
}
#seks{
    background-color: var(--lysgronn);
    grid-row: span 6;
    grid-column: span 2;
}
#syv{
    
    background-color: var(--gronn);
    grid-row: span 6;
    grid-column: span 2;
}
#aatte{
    
    background-color: var(--morkgronn);
    grid-row: span 6;
    grid-column: span 2;
}


a>img{
    height: 100%;
    width: 100%;
}
.aTittelcon>h1{
    width: 100%;
}
.aTittelcon{
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    min-height: 80px;
    height: 20%;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    padding: 20px;
    align-items: center;
    gap: 40px;
    transition: height 0.3s ease, background-color 0.3s ease;
}

article:hover .aTittelcon {
    height: 40%;
}

.aTittel{
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
}

.aTittel2{
    color: white;
    font-size: 1rem;
    font-weight: 700;
}

#to > .aTittelcon{
    padding: 30px;
}

.aTittelcon>p{
    color: white;
    
    font-weight: 400;
    
    opacity: 0; 
    transition: opacity 0.3s ease;
}

article:hover .aTittelcon>p {
    display: block;
    opacity: 1;
}

/*Main content end */


/* Footer */

.footerh{
    background-color: var(--gronn);
    height: 400px;
    width: 100%;
    margin-top: 50px;
    display: flex;
    gap: 50px;
    padding: 100px 50px;
}

.footerh h2{
    margin-bottom: 20px;
    font-weight: 600;
}

.footerh a{
    color: white;

}

.footerl{
    background-color: var(--lysgronn);
    height: 200px;
    width: 100%;
    text-align: center;
    padding: 40px;
    color: white;

}

.footerl h3{
    font-size: 6rem;
}

.footerl img{
    width: auto;
    height: 150px;
}

/* Footer end */


/* OM OSS SIN CSS*/
.container{

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--rosa);
    
}

.oss {

    padding: 50px;
    display: flex;
    padding-bottom: 100px;
    width: 1000px;
}


.container h1 {
    margin-top: 40px;
    padding: 40px;
}


.kilde {

    display: flex;
    align-items: center;
    padding: 40px;
    padding-top: 0px;
    width: 1000px;

}

.kilde img {
    width: 400px;
}

p .oss {
    padding: 40px;
}

.bilde img {
    width: 400px;
    height: auto;
}

.bilde{
    display: flex;
    align-items: center;
}

/*OM OSS SLUTT*/