@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
    height: auto;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: "Raleway", sans-serif;
    background-color: red;

}



main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12,1fr);
    gap: 20px;
    min-height: 100vh;
    background-color: teal;
    padding: 30px;
}

article {
    grid-column: span 1;
    grid-row: span 1;
    position: relative;
}
#en{
    background-color: var(--gronn);
    grid-row: span 8;
    grid-column: span 8;
    
}
#to{
    background-color: var(--lysgronn);
    grid-row: span 4;
    grid-column: span 4;
}
#tre{
    background-color: var(--rosa);
    grid-row: span 4;
    grid-column: span 4;
}
#fire{
    background-color: var(--gronn);
    grid-row: span 6;
    grid-column: span 3;
}
#fem{
    background-color: var(--lysgronn);
    grid-row: span 6;
    grid-column: span 3;
}
#seks{
    background-color: var(--lysgronn);
    grid-row: span 6;
    grid-column: span 2;
}
#syv{
    
    background-color: var(--gronn);
    grid-row: span 6;
    grid-column: span 2;
}
#aatte{
    
    background-color: var(--morkgronn);
    grid-row: span 6;
    grid-column: span 2;
}

nav{
    display: flex;
    background-color: aqua;
    height: 100%;
    align-items: center;
    padding: 15px;
    width: 100%;
}
.left{
    display: flex;
    background-color: blue;
}
.right{
    display: flex;
    margin-left: 20px;
    justify-content: space-around;
    
    flex: 1;
}

.logo{
    height: 10vh;
    flex: 1;
}

header{
    height: 15vh;
}

.navitem{
    background-color: rebeccapurple;
    padding: 10px;
    display: flex;
    
}

.login{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
}

article>img{
    height: 100%;
    width: 100%;
}

.aTittelcon{
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 20%;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    padding: 20px;
    align-items: center;
    gap: 20px;
}

.aTittel{
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
}

.aTittelcon>p{
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    display: none;
}